body {
    margin: 0px 0px 0px 0px;
  }
  
  #navbar{
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      background: rgba(237, 220, 210, 1);
      font-size: 20px;
      font-family: 'Work Sans', sans-serif;
      }
  
  nav ul{
      margin: 0px;
      padding: 5px 0px 30px;
      padding-left: 30px;
      padding-top: 15px;
      }
  nav li{
      display: inline;
      margin-right: 20px;
  }
  .header {
      padding-top: 75px;
      padding-bottom: 60px;
      text-align: center;
      width: 100%;
      background-color: rgba(183, 183, 164, 1);
      color: #0D2C40;
      font-size: 30px;
      font-family: 'Work Sans', sans-serif;
      }
  
  .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: rgba(183, 183, 164, 1);
      color: #0D2C40;
      text-align: center;
      font-family: 'Work Sans', sans-serif;
      padding-top: 60px;
      padding-bottom: 60px;
      }
  
  #logo {
      text-align: center;
      padding-left: 30px;
      }
  a {
      text-decoration: none;
      color: rgb(127, 11, 11);
  }
  hr {
      width: 70%;
          margin-left: auto;
          margin-right: auto;
  }
  