body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #DDBEA9;
}

html{
  background-color: #DDBEA9;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div{
  background-color: #DDBEA9;
}

h2{
  font-weight: 300;
  color:white;
  font-variant: small-caps;
  font-size: 1rem;
  display: block;
}

.recipeName{
  background-color: #CB997E
  ;
  color:#FFF1E6;
  border-radius: 40px;
  text-align: center;
  
}

.cardbody{
  background-color: #B7B7A4
  ;
  text-align: center;
  border-radius: 20px;
}

.ingredients{
  background-color: #B7B7A4
  ;
  color:#FFF1E6;
  border-radius: 20px;
}

.head{
  background-color: #A5A58D
  ;
  color:white;
  border:2px solid #a3a377;
  border-radius: 20px;
}

.recipeNameSmall{
  background-color: #a3a377;
  color:white;
  border-radius: 10px;
  width:100%;

}

.button{
  font-size: larger;
  background-color: #CB997E;
  padding: 7%;
  color:white;
  border: white 2px solid;
  border-radius: 10px;

}

.intro{
  background-color: #a3a377;
  color: white;
  text-align: center;
  font-size: 2em;
}